a {
    text-decoration: none;
}

.table-darkblue {
    background-color: #415164 !important;
    color: #fff;
}

hr {
    opacity: .05 !important;
}


/* Menu */

.navbar-toggler {
    color: rgba(255, 255, 255, .0) !important;
    border: none;
}

.navbar-collapse {
    transition: 0.5s;
}

.bg-darkblue {
    background-color: #181C32;
}


/* Login */

.body-login {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-primary-sj {
    background-color: #00A39D;
    border-color: #00A39D;
    color: #fff;
}


/* Card */

.card {
    border: 1px solid rgba(200, 200, 200, .3);
    border-radius: .75rem;
}

.card:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    transition: 0.5s;
}

.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(200, 200, 200, .3);
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* Background */

.bg-success-pro {
    background-color: #00c9a7 !important;
}


/* Color */

.success-color {
    color: #00c9a7;
}

.danger-color {
    color: #ed4c78;
}


/* Badge */

.badge-soft-danger {
    color: #ed4c78;
    background-color: rgba(237, 76, 120, .1);
}

.badge-soft-success {
    color: #00c9a7;
    background-color: rgba(0, 201, 167, .1);
}

.badge-soft-secondary {
    color: #71869d;
    background-color: rgba(113, 134, 157, .1);
}

.select2 {
    padding: 0px;
}